.clear{clear:both;}
.fanglist{width:1200px;margin:0 auto;}

.fanglista{float:left;}
.fanglistb{float:left;margin-left:20px;}


.fanglistatt1{margin-top:30px;text-align:center;}
.fanglistattname1{border-bottom:2px solid #C2C2C2;font-size:25px;color:#72716F;font-weight:700;text-align:center;padding-bottom:15px;}


.fanglistatt2{margin-top:30px;text-align:center;}
.fanglistattname2{color:#72716F;}
.fanglistatt3{margin-top:10px;text-align:center;}
.fanglistattname3{color:#14964C;font-weight:700;}

body{
	margin:0 auto;
    text-align:center
 
  

}
div{ 
margin:0 auto;
    text-align:center
}


input{   

    width: 500px;   

    height: 80px;   

    margin-bottom: 10px;   

    outline: none;   

    padding: 10px;   

    font-size: 40px;   

    color:;   

	background-color: #B2DFEE; 
    text-shadow:1px 1px 1px;   

    border-top: 1px solid #312E3D;   

    border-left: 1px solid #312E3D;   

    border-right: 1px solid #312E3D;   

    border-bottom: 1px solid #56536A;   

    border-radius: 4px;   

   

}   

.but{   
	width: 500px;   

    height: 80px;
    
    min-height: 20px;   

    display: block;   

    background-color: red;   

    border: 1px solid #3762bc;   

    color: #fff;   

    padding: 9px 14px;   

    font-size: 40px;   

     

    border-radius: 5px;   

   margin:auto;

}  
    	

#login h1{   

    color:#B22222 ;   

    text-shadow:0 0 10px;   

    letter-spacing: 1px;   

    text-align: center;   

} 
#bjtp{
	
	background:url('../img/bj.jpg');background-size:100%;height:600px;
	
}