*{ margin:0; padding:0; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: border-box; }
body{ font-family: "Î¢ÈíÑÅºÚ"; }
h1,h2,h3,h4,h5,h6{ font-weight: initial; }
li{ list-style: none; }
img{ display: inline-block; vertical-align: middle; }
span{ display: inline-block; vertical-align: middle; }
a{ text-decoration: none; cursor: pointer; }
input,select{ -webkit-appearance:none; border:0; outline: none; }
em{ height: 100%; display: inline-block; vertical-align: middle;}
.over{ overflow: hidden; }
.left{ float: left; }
.right{ float: right; }
.container{ width: 1200px; margin: auto; }



.flexslider{ position:relative; overflow:hidden; }
.slides{ position:relative; z-index:1;}
.slides li img{ width: 100%; }
.flex-control-nav{ height: 14px; position:absolute; bottom:10px; z-index:2; width:100%; text-align:center; font-size: 0;}
.flex-control-nav li{ display:inline-block; width:14px; height:14px; margin:0 4px; zoom:1; }
.flex-control-nav a{ display:inline-block; width:7px; height: 7px; cursor:pointer; background-color: #fff; border-radius: 7px; }
.flex-control-nav .flex-active{ width: 14px;}
.flex-direction-nav{ position:absolute; z-index:3; width:100%; top:40%;}
.flex-direction-nav li a{ display:block; width:50px; height:50px; cursor:pointer; position:absolute;}